body, main {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position:relative;
    background-color: rgb(244, 244, 244);
    font-family: 'century gotic','cera pro';
}


.navbar {
    position: sticky;
    top: 0;
    background-color: rgb(244, 244, 244);
    width: 100%;
    z-index: 1000;
}
.dropdown-menu{
    background-color: rgb(244, 244, 244);
}

footer {
    background-color:  rgb(54, 54, 54);;
    text-align: center;
    color: ghostwhite;
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'century gotic','cera pro';
}


.footeredit {
    width: 25px; 
    height: 30px;
    margin-right: 10px;
   }


/*--principal--*/  
#carrouselPersonalizado {
    min-height: 700px;
    flex:7;
}
.column3{
    flex:5;
    font-family: 'century gotic','cera pro';
}
#carrouselPersonalizadouno {
    min-height: 100px;
}

.primercarrucel {
    width: 100%;
    height: auto;
}

.logomula {
    width: 40px;
    height: 150px;
    margin-top: 33px;
    margin: 0 auto; 
    display: block; 
}


.video-container {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
}



.nombre {
    margin-top:50px ;
    font-size: 50px;
    color: rgb(54, 54, 54);
    font-family: 'century gotic','cera pro';
    text-align: center;
}

.habilidades {
    font-size: 40px;
    font-family: 'century gotic','cera pro';
    color: #646464b1;
    text-align: center;
}

.rama_y_denis{
    width: 390px;
    height: 300px;
    margin-top: 20px;
    position: center;
    margin: 0 auto;
    display: block;
}
@media (max-width: 768px) {
    .nombre {
        font-size: 25px;
    }

    .habilidades {
        font-size: 19px;
    }
}

@media (max-width: 576px) {
    .video-container {
        height: 30vh;
    }

    .nombre {
        font-size: 24px;
    }

    .habilidades {
        font-size: 20px;
    }
}
/*--Carpeta Tecnica--*/ 
#planos {
    margin-top: 50px;
    padding: 20px;
}

.planos-style {
    padding-top: 40px;
    padding: 40px 20px;
}

.about-info {
    font-size: 30px;
    color: #000;
}

#portfolio {
    margin-top: 50px;
    padding: 20px;
}
.portfolio-item {
    width: 33.33%; 
    padding: 10px; 
    box-sizing: border-box; 
}

.portfolio-item img {
    width: 100%; 
    height: auto;
    border-top: 1px solid rgb(139, 139, 139);
}

.text-style {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .about-info {
        font-size: 22px;
    }
}

/*--renders--*/ 
.dibujos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    margin: 0 -5px; 
}

.card {
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 5px;
}

.card img {
    object-fit: cover;
    filter: grayscale(1);
    padding: 5px;
    border-radius: 10px;
    width: 100%; 
}

.card:hover {
    flex: 2;
    transition: 0.5s;
}

.card:hover img {
    filter: none;
    transition: 0.5s;
}

.fotito {
    width: 20px; 
    height: 20px;
    margin-right: 10px;
}

.diseño {
    padding: 10px;
    font-family: 'century gotic','cera pro';
    text-align: center; 
    margin: 0 auto; 
    max-width: 100%;
    font-weight: bold;
    font-size: 40px;
}

.diseño1 {
    font-family: 'century gotic','cera pro';
    text-align: center; 
    margin: 0 auto; 
    max-width: 100%;
    font-size: 28px;
}

@media (max-width: 768px) {
    .dibujos {
        flex-direction: column; 
        align-items: center; 
    }

    .card {
        flex: none; 
        margin: 10px 0; 
    }
    .card img {
        filter: none;
    }
    .fotito {
        margin-right: 5px;
    }
}


 
/*--contactanos--*/
.fondopantalla {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fondopantalla img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.columna {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columna img {
    width:auto; 
    height: 150px;
    margin-top: 85px; 
}

.redes-sociales {
    color: beige;
    margin-top: 70px; 
    margin-left: 30px;
    text-align: justify;
}

.small-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
}

.icon{
    width: 20px;
    height: 15px;
    margin-right: 10px;
}

#color{
    background-color: transparent;
}

/* direccion y contruccion */

.contenedor-principal {
    display: flex;
}

.columnasgallery {
    flex: 7;
}

.columnastexto {
    margin-top: 10px;
    flex: 5;
    font-family: 'century gotic', 'cera pro';
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.image-container {
    display: flex;
    margin-left: 25px;
    flex-wrap: wrap;
    gap: 10px;
    margin-right:25px ;
}

.image-container img {
    width: calc(40% - 7px);
    aspect-ratio: 1;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
}

.image-container img:hover {
    transform: scale(1.1);
}



.ultima {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.photo {
    margin-top: 30px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}

.photo:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.photo img {
    max-width: 100%;
    height: auto;
    display: block;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.photo:hover .caption {
    opacity: 1;
}


@media (max-width: 412px) {
    .contenedor-principal {
        padding: 10px;
        flex-direction: column;
    }

    .columnasgallery {
        flex: 1;
        order: 1; /* Cambiar el orden para que esté arriba de las fotos */
    }

    .columnastexto {
        flex: 1;
        margin-right: 0;
        order: 2; /* Cambiar el orden para que esté debajo de las fotos */
    }

    .image-container img {
        width: 100%;
    }
}
@media (min-width: 820px) {
    .contenedor-principal {
        padding: 20px;
        display: flex;
    }

    .columnasgallery {
        flex: 7;
        order: 1;
    }

    .columnastexto {
        flex: 5;
        font-family: 'century gotic', 'cera pro';
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 60px;
        order: 2;
    }

    .image-container {
        display: flex;
        margin-left: 25px;
        flex-wrap: wrap;
        gap: 10px;
    }

    .image-container img {
        width: calc(40% - 7px);
        aspect-ratio: 1;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.3s;
    }

    .image-container img:hover {
        transform: scale(1.1);
    }
}
