body, main {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position:relative;
    background-color: cornsilk;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}


.navbar {
    position: sticky;
    top: 0;
    background-color: cornsilk;
    width: 100%;
    z-index: 1000;
}
.dropdown-menu{
    background-color: rgba(255, 248, 220, 0.888);
}

footer {
    background-color: #000;
    text-align: center;
    color: ghostwhite;
    padding: 5px;
    position: -webkit-sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footeredit {
    width: 25px; 
    height: 30px;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}
/*--principal--*/  
#carrouselPersonalizado {
    min-height: 700px;
}

#carrouselPersonalizadouno {
    min-height: 100px;
}

.primercarrucel {
    width: 100%;
    height: auto;
}

.logomula {
    width: 40px;
    height: 150px;
    margin-top: 33px;
    margin: 0 auto; 
    display: block; 
}


.video-container {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    object-fit: cover;
}



.nombre {
    margin-top:40px ;
    font-size: 40px;
    color: rgb(69, 69, 69);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    text-align: center;
}

.habilidades {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    color: rgba(112, 112, 112, 0.693);
    text-align: center;
}

.rama_y_denis{
    width: 390px;
    height: 300px;
    margin-top: 20px;
    position: center;
    margin: 0 auto;
    display: block;
}
@media (max-width: 768px) {
    .nombre {
        font-size: 20px;
    }

    .habilidades {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .video-container {
        height: 35vh;
    }

    .nombre {
        font-size: 18px;
    }

    .habilidades {
        font-size: 14px;
    }
}
/*--Carpeta Tecnica--*/ 
#planos {
    margin-top: 50px;
    padding: 20px;
}

.planos-style {
    padding-top: 40px;
    padding: 40px 20px;
}

.about-info {
    font-size: 22px;
    color: #000;
}

#portfolio {
    margin-top: 50px;
    padding: 20px;
}
.portfolio-item {
    width: 33.33%; 
    padding: 10px; 
    box-sizing: border-box; 
}

.portfolio-item img {
    width: 100%; 
    height: auto;
    border-top: 1px solid rgb(139, 139, 139);
}

.text-style {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .about-info {
        font-size: 16px;
    }
}

/*--renders--*/ 
.dibujos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    margin: 0 -5px; 
}

.card {
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 5px;
}

.card img {
    object-fit: cover;
    filter: grayscale(1);
    padding: 5px;
    border-radius: 10px;
    width: 100%; 
}

.card:hover {
    flex: 2;
    transition: 0.5s;
}

.card:hover img {
    filter: none;
    transition: 0.5s;
}

.fotito {
    width: 20px; 
    height: 20px;
    margin-right: 10px;
}

.diseño {
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    text-align: center; 
    margin: 0 auto; 
    max-width: 100%;
    font-weight: bold;
    font-size: 30px;
}

.diseño1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    text-align: center; 
    margin: 0 auto; 
    max-width: 100%;
    font-size: 18px;
}

@media (max-width: 768px) {
    .dibujos {
        flex-direction: column; 
        align-items: center; 
    }

    .card {
        flex: none; 
        margin: 10px 0; 
    }
    .card img {
        filter: none;
    }
    .fotito {
        margin-right: 5px;
    }
}


 
/*--contactanos--*/
.fondopantalla {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fondopantalla img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.columna {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columna img {
    width:auto; 
    height: 150px;
    margin-top: 85px; 
}

.redes-sociales {
    color: beige;
    margin-top: 70px; 
    margin-left: 30px;
    text-align: justify;
}

.small-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
}

.icon{
    width: 20px;
    height: 15px;
    margin-right: 10px;
}

#color{
    background-color: transparent;
}

/* direccion y contruccion */

.columnasgallery {
    display: flex;
}

.gallery {
    flex: 6;
    display: grid;
    grid-gap: 30px;
    max-width: 80vw;
    width: 100%;
    justify-content: left;
    margin-left: 185px;
    margin-bottom: 20px; 
}
.textogaleria {
    flex: 6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 20px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 10px; 
    margin-right: 60px;
}



.gallery > img {
    width: 400px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    transform: translate(var(--_y, 0));
    cursor: pointer;
    z-index: 0;
    transition: 0.3s, z-index 0s 0.3s;
    
}

.gallery img:hover {
    --_i: 1;
    z-index: 1;
    transition: transform 0.2s, clip-path 0.3s, z-index 0s;
}

.gallery img:hover {
    --i: 1;
    z-index: 1;
    transform: translate(0, 0);
    clip-path: polygon(50% 50%, calc(50% * var(--i, 0)) calc(100% - 120% * var(--i, 0)), 0 calc(100% - 100% * var(--i, 0)), 0 100%, 100% 100%, 100% calc(100% - 100% * var(--i, 0)), calc(100% - 50% * var(--i, 0)) calc(100% - 120% * var(--i, 0)));
    --y: calc(1 * var(--g));
    transition: transform 0.2s, clip-path 0.3s, z-index 0s;
}

.gallery > img {
    position: absolute;
}

.gallery > img:nth-child(1) {
    clip-path: polygon(50% 50%, calc(50%*var(--_i,0)) calc(120%*var(--_i,0)), 0 calc(100%*var(--_i,0)), 0 0, 100% 0, 100% calc(100%*var(--_i,0)), calc(100% - 50%*var(--_i,0)) calc(120%*var(--_i,0)));
    transform: rotate(270deg);
    --_y: calc(-1*var(--g));
}

.gallery > img:nth-child(2) {
    clip-path: polygon(50% 50%, calc(50% * var(--i, 0)) calc(100% - 120% * var(--i, 0)), 0 calc(100% - 100% * var(--i, 0)), 0 100%, 100% 100%, 100% calc(100% - 100% * var(--i, 0)), calc(100% - 50% * var(--i, 0)) calc(100% - 120% * var(--i, 0)));
    --y: calc(1 * var(--g));
}

.gallery > img:nth-child(3) {
    clip-path: polygon(50% 50%, calc(50% * var(--i, 0)) calc(100% - 120% * var(--i, 0)), 0 calc(100% - 100% * var(--i, 0)), 0 100%, 100% 100%, 100% calc(100% - 100% * var(--i, 0)), calc(100% - 50% * var(--i, 0)) calc(100% - 120% * var(--i, 0)));
    transform: rotate(180deg);
    --y: calc(1 * var(--g));
}

.gallery > img:nth-child(4) {
    clip-path: polygon(50% 50%, calc(50%*var(--_i,0)) calc(120%*var(--_i,0)), 0 calc(100%*var(--_i,0)), 0 0, 100% 0, 100% calc(100%*var(--_i,0)), calc(100% - 50%*var(--_i,0)) calc(120%*var(--_i,0)));
    transform: rotate(90deg);
    --_y: calc(-1*var(--g));
}
.ultima {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.photo {
    margin-top: 30px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}

.photo:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.photo img {
    max-width: 100%;
    height: auto;
    display: block;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.photo:hover .caption {
    opacity: 1;
}
@media (max-width: 768px) {
    .columnasgallery {
        flex-direction: column;
    }

    .gallery, .textogaleria {
        flex: auto;
        width: 100%;
        margin: 0;
    }

    .gallery {
        order: 3;
       }

    .ultima {
        grid-template-columns: 1fr; 
    }
}